---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=" "
	pubDate={new Date('August 01 2023')}
	heroImage="/bgabout.png"
>
Rachanont Hiranwong, Pharm.D.
<p><strong>Qualifications</strong></p>
<ul>
<li>Doctor of Pharmacy, Pharm care, Naresuan University (2007).
</li>
<li>LL.B. (Bachelor of Laws), Sukhothai Thammathirat Open University (2017).
</li>
<li>Mini Master of Management in Health, Mahidol University (2018).
</li>
<li>Lawyer license (2019).
</li>
<li>Thai Bar (2020).
</li>
</ul>

<p><strong>Conference &amp; Workshop</strong></p>
<ul>
<li>การประเมินและติดตามอาการไม่พึงประสงค์จากการใช้ยา รุ่นที่ 4 ปี 2550 โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="27 – 29 nov 2007"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=76&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>การประชุมเชิงปฏิบัติการ กลุ่มเภสัชกรดูแลผู้ติดเชื้อเอชไอวีและผู้ป่วยเอดส์ ประจำปี 2551 โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="18 – 20 feb 2008"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=85&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>การประชุมวิชาการงานเฝ้าระวังความปลอดภัยจากการใช้ยา ประจำปี 2551 เรื่อง Pharmacovigilance: Partnership for Partient Safety โดย สำนักงานคณะกรรมการอาหารและยา, กรุงเทพมหานคร <a href="2 – 3 jul 2008"><a href="https://web.archive.org/web/20211129142003/http://www.fda.moph.go.th/APR/apmain%201-1.html">link</a></a>
</li>
<li>การสร้างระบบป้องกันการแพ้ยาซ้ำในโรงพยาบาลและการเพิ่มคุณภาพของการรายงาน ADR ปี 2551 โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="2 aug 2008"><a href="https://web.archive.org/web/20211129142003/http://adr.thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=27&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>การประชุมวิชาการเรื่อง “Advances in Adverse Drug Reactions: Common Drug-Induced Organ Disorders” โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="17 – 19 dec 2008"><a href="https://web.archive.org/web/20211129142003/http://www.thaihp.org/adr/index.php?option=viewhome&amp;lang=th&amp;id=42&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>การประชุมเชิงปฏิบัติการงานเภสัชกรรมคลินิก ครั้งที่ 9/2552 เรื่อง “Trends in Infectious Diseases Pharmacotherapy” โดย คณะเภสัชศาสตร์ ม.อ., กรุงเทพมหานคร <a href="6 – 10 april 2009"><a href="https://web.archive.org/web/20211129142003/http://news.pharmacy.psu.ac.th/index.php?option=com_content&amp;task=view&amp;id=424&amp;Itemid=69">link</a></a>
</li>
<li>การประชุมวิชาการงานเฝ้าระวังความปลอดภัยจากการใช้ยา ประจำปี 2552 เรื่อง การจัดการความเสี่ยงของผลิตภัณฑ์ สุขภาพเพื่อความปลอดภัยของผู้บริโภค (Risk management of Health Products for Consumer Safety) โดย สำนักงานคณะกรรมการอาหารและยา, กรุงเทพมหานคร <a href="1 – 2 jul 2009"><a href="https://web.archive.org/web/20211129142003/http://www.fda.moph.go.th/vigilance/">link</a></a>
</li>
<li>การประชุมการให้คำปรึกษากลุ่มงาน/ฝ่ายเภสัชกรรม ครั้งที่ 3/2552 โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="10 – 11 sep 2009"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=124">link</a></a>
</li>
<li>โครงการเฝ้าระวังการเกิดเหตุการณ์ไม่พึงประสงค์จากการใช้วัคซีนไข้หวัดใหญ่สายพันธ์ใหม่ชนิดเอ (เอช 1 เอ็น 1) ในบุคลากรทางการแพทย์ ใน 4 จังหวัดที่คัดเลือก โดย สำนักงานคณะกรรมการอาหารและยา, นนทบุรี <a href="8 jan 2010"><a href="https://web.archive.org/web/20211129142003/http://www.fda.moph.go.th/vigilance/">link</a></a>
</li>
<li>การประชุมวิชาการประจำปีสมาคมเวชสารสนเทศไทยครั้งที่ 19 โดย สมาคมเวชสารสนเทศไทย, นนทบุรี <a href="10 – 12 nov 2010"><a href="https://web.archive.org/web/20211129142003/http://regmaster.lawson-marsh.com/tmi2010/">link</a></a>
</li>
<li>ประชุมระดมสมอง เรื่อง การพัฒนาระบบการจัดการฐานข้อมูลเหตุการณ์ไม่พึงประสงค์ และเกณฑ์การประเมินระบบเฝ้าระวังความปลอดภัยด้านยา โดย ศูนย์เฝ้าระวังความปลอดภัยด้านผลิตภัณฑ์สุขภาพ, นนทบุรี (16 – 17 Dec 2010)
</li>
<li>โครงการประชุมเชิงปฏิบัติการ:การใช้โปรแกรมคอมพิวเตอร์สำหรับการจัดการข้อมูลบริการเภสัชสนเทศ โดย คณะเภสัชศาสตร์ มหาวิทยาลัยศิลปากร, นครปฐม (29 May 2011)
</li>
<li>การประชุมวิชาการงานเฝ้าระวังความปลอดภัยจากการใช้ยา ประจำปี 2554 โดย สำนักงานคณะกรรมการอาหารและยา, กรุงเทพมหานคร (20 – 21 jul 2011)
</li>
<li>งานประชุม Advances in Pharmacotherapeutics and Pharmacy Practice 2011 (APP2011) โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="19 – 21 Dec 2011"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=187&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>การประชุมเชิงปฏิบัติการงานเภสัชกรรมคลินิก ครั้งที่ 9/2555 เรื่อง “Clinical Drug Information Service” โดย คณะเภสัชศาสตร์ ม.ก., นครปฐม (23 – 27 Apr 2012)
</li>
<li>การประชุมสัมมนาวิชาการ เรื่อง “การรักษาผู้ป่วยที่เกี่ยวกับยากำพร้ากลุ่มยาต้านพิษที่จำเป็นเพิ่มอีก 4 ชนิดและการเข้าถึงยา” โดยสำนักงานหลักประกันสุขภาพแห่งชาติ, กรุงเทพมหานคร (28 Jun 2012)
</li>
<li>การอบรมเชิงปฏิบัติการเครื่องมืออิเล็กทรอนิกส์เพื่อประเมินเกณฑ์คุณภาพการใช้ยาจากชุดข้อมูลการให้บริการผู้ป่วยนอก OP/PP Individual data 21 แฟ้ม โดยสำนักงานหลักประกันสุขภาพแห่งชาติ, ระยอง (5 Mar 2013)
</li>
<li>การประชุมวิชาการ 14th HA National Forum “องค์กรที่น่าไว้วางใจ” (High Reliability Organization), นนทบุรี (12 – 15 Mar 2013)
</li>
<li>การประชุมวิชาการเรื่อง การพัฒนาศักยภาพเภสัชกรด้านการผลิตในโรงพยาบาล (TPN Day), กรุงเทพมหานคร (11 – 12 Jul 2013)
</li>
<li>การประชุมหัวหน้างานเภสัชกรรมการผลิตประจำปี 2556, ระยอง (9 – 11 Oct 2013)
</li>
<li>การประชุมเชิงปฏิบัติการการเป็นผู้เยี่ยมสำรวจภายใน, ชลบุรี (23 – 24 Aug 2014)
</li>
<li>ประชุมหัวหน้างานเภสัชกรรมการผลิตประจำปี 2558, อยุธยา (6 – 8 May 2015)
</li>
<li>การประชุมวิชาการประจำปี HA National Forum ครั้งที่ 17 คุณภาพในทุกลมหายใจ (Enjoy Quality Every Moment), นนทบุรี (8 – 11 Mar 2016)
</li>
<li>งานประชุมวิชาการและประชุมใหญ่สามัญประจำปี 2559 เรื่อง บทบาทของเภสัชกรโรงพยาบาลในการใช้ยาอย่างสมเหตุผล โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="11 – 13 May 2016"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=355&amp;sub=-1&amp;layout=0">link</a></a>
</li>
<li>งานประชุม “งานวิจัย การพัฒนางานประจำสู่งานวิจัยและการจัดการความรู้ ปี 2559” ครั้งที่ 2 โดย กระทรวงสาธารณสุข , นนทบุรี (6 June 2016)
</li>
<li>งานประชุม เรื่องการพัฒนาสู่โรงพยาบาลส่งเสริมการใช้ยาอย่างสมเหตุผลในเขตสุขภาพที่ 6 โดย สำนักงานสาธารณสุขจังหวัดชลบุรี , ชลบุรี (12 – 13 Sep 2016)
</li>
<li>งานประชุม 26th FAPA Congress 2016 “Integrating Asian Pharmacy Wisdom for Better Global Health.”, Bangkok, Thailand (9 – 13 Nov 2016)
</li>
<li>โครงการพัฒนาศักยภาพแหล่งฝึกปฏิบัติงานสาขาเน้นโรงพยาบาล ครั้งที่ ๑/๒๕๕๙ , ชลบุรี (16 dec 2016)
</li>
<li>โครงการประชุมประสานเครือข่ายศูนย์เฝ้าระวังความปลอดภัยด้านผลิตภัณฑ์สุขภาพ เขตสุขภาพที่ 6 , ชลบุรี (30 – 31 may 2017)
</li>
<li>โครงการอบรมเชิงปฏิบัติการเพื่อสร้างการใช้ยาอย่างสมเหตุผลในกลุ่มโรค URI และ Acute diarrhea และการวางระบบและส่งต่อข้อมูลการใช้ยาที่ส่งเสริมระบบการส่งต่อที่ไร้รอยต่อสำหรับเขตสุขภาพที่ 6 , ชลบุรี (12 – 13 jul 2017)
</li>
<li>โครงการอบรมและพัฒนาแหล่งฝึกเพื่อการฝึกปฎิบัติงานการบริหารจัดการด้านยา(Medication Safety Management System) สำหรับแหล่งฝึกปฎิบัติงานวิชาชีพเภสัชกรรม สาขาบริบาลทางเภสัชกรรม ครั้งที่ 1/2560 , ชลบุรี (4 aug 2017)
</li>
<li>การประชุมเชิงปฏิบัติการ การพัฒนาฉลากยาเสริมและข้อมูลความปลอดภัยในการใช้ยาในประเทศไทย, กรุงเทพมหานคร (7 – 8 aug 2017)
</li>
<li>Current knowledge in Infectious disease, ชลบุรี (25 – 26 aug 2017)
</li>
<li>ประชุมหัวหน้างานเภสัชกรรมการผลิตประจำปี 2561,กรุงเทพมหานคร (12 – 13 Mar 2018)
</li>
<li>งานประชุมวิชาการและประชุมใหญ่สามัญประจำปี 2561 เรื่อง Installation the Role of Hospital Pharmacist in Ambulatory Care Services โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร <a href="23 – 25 May 2018"><a href="https://web.archive.org/web/20211129142003/http://thaihp.org/index.php?option=viewhome&amp;lang=th&amp;id=426&amp;sub=-1&amp;layout=0">link</a></a>
</li>
</ul>
<strong>Presentation</strong>
<ul>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/poster-presentationtenofovirtoxicpdf">การเฝ้าระวังผลต่อไตจากการใช้ยาเทโนโฟเวียร์ในผู้ป่วยติดเชื้อเอชไอวีโรงพยาบาลบางละมุง (Poster Presentation)</a>, การประชุมวิชาการงานเฝ้าระวังความปลอดภัยจากการใช้ยา ประจำปี 2554 โดย สำนักงานคณะกรรมการอาหารและยา, กรุงเทพมหานคร (21 – 22 jul 2011)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/renaldosing55">การพัฒนาระบบติดตามและให้ข้อมูลขนาดยาในผู้ป่วยในที่มีการทำงานของไตลดลง (Poster Presentation)</a>, งานประชุมวิชาการสำนักงานสาธารณสุขจังหวัดชลบุรี ประจำปี 2555 โดย สำนักงานสาธารณสุขจังหวัดชลบุรี, ชลบุรี (20 – 21 Sep 2012)
</li>
<li><a href="https://web.archive.org/web/20211129142003/https://www.slideshare.net/elixer/3-2556-82212165">การพัฒนาระบบติดตามและให้ข้อมูลขนาดยา ในผู้ป่วยที่มีการทำงานของไตลดลง (Oral Presentation)</a>, การประชุมคณะกรรมการวางแผนและประเมินผล ครั้งที่ 3  ปีงบประมาณ 2556 โดย สำนักงานสาธารณสุขจังหวัดชลบุรี, ชลบุรี (28 dec 2012)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/renal-dosingnationalforum">การพัฒนาระบบติดตามและให้ข้อมูลขนาดยาในผู้ป่วยในที่มีการทำงานของไตลดลง (Poster Presentation)</a>, การประชุมวิชาการ 14th HA National Forum “องค์กรที่น่าไว้วางใจ” (High Reliability Organization), นนทบุรี (12 – 15 Mar 2013)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/asthma-16092556">ผลลัพธ์ต่อการควบคุมโรคหืดหลังจากได้รับการบริบาลทางเภสัชกรรม (Oral Presentation)</a>, งานประชุมวิชาการสำนักงานสาธารณสุขจังหวัดชลบุรี ประจำปี 2556 โดย สำนักงานสาธารณสุขจังหวัดชลบุรี, ชลบุรี (25 – 26 Sep 2013)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/poster-renal-dosingcost">ค่าใช้จ่ายที่ประหยัดได้จากการให้ข้อมูลขนาดยาที่เหมาะสมในผู้ป่วยที่มีการทำงานของไตบกพร่อง (Poster Presentation)</a>, การประชุมวิชาการแลกเปลี่ยนเรียนรู้ ด้านการพัฒนาระบบบริการ จังหวัดชลบุรี ประจำปี 2558 โดย สำนักงานสาธารณสุขจังหวัดชลบุรี, ชลบุรี (13 – 14 aug 2015)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/poster-renal-dosingcost">ค่าใช้จ่ายที่ประหยัดได้จากการให้ข้อมูลขนาดยาที่เหมาะสมในผู้ป่วยที่มีการทำงานของไตบกพร่อง (Oral Presentation)</a>, งานมหกรรมคุณภาพและฟื้นฟูวิชาการ ประจำปี 2558 และ R2R ภาคตะวันออก โดย โรงพยาบาลชลบุรี, ชลบุรี (17 nov 2015)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/poster-renal-dosingcost">ค่าใช้จ่ายที่ประหยัดได้จากการให้ข้อมูลขนาดยาที่เหมาะสมในผู้ป่วยที่มีการทำงานของไตบกพร่อง (Poster Presentation)</a>, งานประชุมวิชาการและประชุมใหญ่สามัญประจำปี 2559 เรื่อง บทบาทของเภสัชกรโรงพยาบาลในการใช้ยาอย่างสมเหตุผล โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร (11 – 13 May 2016)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/poster-renal-dosingcost">ค่าใช้จ่ายที่ประหยัดได้จากการให้ข้อมูลขนาดยาที่เหมาะสมในผู้ป่วยที่มีการทำงานของไตบกพร่อง (Oral Presentation)</a>, งานประชุม “งานวิจัย การพัฒนางานประจำสู่งานวิจัยและการจัดการความรู้ ปี 2559″ ครั้งที่ 2 โดย กระทรวงสาธารณสุข , นนทบุรี (6 June 2016)
</li>
<li><a href="https://web.archive.org/web/20211129142003/https://www.dropbox.com/s/l288coldtox7nxz/Poster-RenalDosingCost.pdf?dl=0">The outcome of pharmacists’ interventions on dose adjustment in hospitalized patients with renal impairment on cost saving and cost avoidance (Poster Presentation)</a>, 26th FAPA Congress 2016, Bangkok, Thailand (11 – 12 Nov 2016)
</li>
<li><a href="https://web.archive.org/web/20211129142003/https://www.slideshare.net/elixer/ss-80310627">การดูแลการใช้ยาในผู้ป่วยโรคตับ (Poster Presentation)</a>, งานมหกรรมคุณภาพและความปลอดภัย ครั้งที่ 2/2560 โรงพยาบาลบางละมุง, ชลบุรี  (11 – 15 Sep 2017)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.rachanont.com/evernote-study/">การพัฒนาระบบสารสนเทศเพื่อจัดเก็บข้อมูลยาและข้อตกลงในกลุ่มงานเภสัชกรรม (Poster Presentation)</a>, งานประชุมวิชาการและประชุมใหญ่สามัญประจำปี 2561 เรื่อง Installation the Role of Hospital Pharmacist in Ambulatory Care Services โดย สมาคมเภสัชกรรมโรงพยาบาล (ประเทศไทย), กรุงเทพมหานคร (23 – 25 May 2018)
</li>
</ul>
<strong>Publication</strong>
<ul>
<li><a href="https://web.archive.org/web/20211129142003/https://drive.google.com/file/d/0B10pPESWcBj5aEpwNm5ybkRfWHM/view?usp=sharing">การเฝ้าระวังผลต่อไตจากการใช้ยาเทโนโฟเวียร์ในผู้ป่วยติดเชื้อเอชไอวีโรงพยาบาลบางละมุง</a>, ข่าวสารด้านยาและผลิตภัณฑ์สุขภาพ ศูนย์เฝ้าระวังความปลอดภัยด้านผลิตภัณฑ์สุขภาพ ปีที่ 15 ฉบับที่ 4 ตุลาคม – ธันวาคม 2555, น. 117 – 123.</li>
</ul>
<strong>Speaker&amp;Lecturer</strong>
<ul>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/ss-64305840">ประสบการณ์ดูแลผู้ป่วยโรคไตเรื้อรังในโรงพยาบาลบางละมุง</a>, โรงพยาบาลพานทอง, ชลบุรี (4 Jul 2016)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/assessment-of-adverse-drug-reaction">Assessment of Adverse drug reaction</a>, วิชาเภสัชบำบัด ๓ (๗๙๑๕๕๑), คณะเภสัชศาสตร์ มหาวิทยาลัยบูรพา, (16 Sep 2016)
</li>
<li><a href="https://web.archive.org/web/20211129142003/https://www.slideshare.net/elixer/pharmcare-in-tbhiv-patient">การบริบาลทางเภสัชกรรมผู้ป่วยวัณโรคและผู้ป่วยติดเชื้อเอชไอวี</a>, วิชาเภสัชบำบัด ๓ , คณะเภสัชศาสตร์ มหาวิทยาลัยบูรพา, (22 Aug 2017)
</li>
<li><a href="https://web.archive.org/web/20211129142003/http://www.rachanont.com/post/3830/">งานเภสัชกรรมโรงพยาบาล</a>, โครงการแนะแนวการเรียนและการเลือกสาขาเน้น ให้กับนิสิตคณะเภสัชศาสตร์ ชั้นปีที่ 3 มหาวิทยาลัยบูรพา, (14 sep 2018)
</li>
</ul>
<a href="https://web.archive.org/web/20211129142003/http://www.slideshare.net/elixer/presentations">All Presentation slide</a>
If you interest let’s see <a href="https://web.archive.org/web/20211129142003/http://www.linkedin.com/in/elixer">My LinkedIn Profile</a>, <a href="https://web.archive.org/web/20211129142003/http://lastelixer.googlepages.com/cv">My Curriculum Vitae.
<p><h2 id="blog-archived">Blog archived</h2>
<a href="https://web.archive.org/web/20210725083716/https://www.rachanont.com/archives/">https://web.archive.org/web/20210725083716/https://www.rachanont.com/archives/</a></p>

</Layout>
