---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>What I’m doing now</h1>
      <p>Updated September 8th, 2023, from my home in Pattaya, Thailand.</p>

      <p>Here’s a list of what I am currently working on:</p>
      <ul>
        <li>
          Being a dad and husband, I try to keep my "work" hours to a manageable
          35-40 hours a week.
        </li>
        <li>
          Blogging here mostly in Thai, but hey, every now and then, I mix it up
          with some English!
        </li>
        <li>
          I am currently employed as a retail pharmacist while also practicing
          law part-time.
        </li>
        <li>Reading, Running, and Coding.</li>
      </ul>
      <p>
        These are my priorities and I’m not looking to be involved in any new
        projects at this time. (Great idea, borrowed from <a
          href="https://sivers.org/now">Derek Sivers</a
        >)
      </p>
    </main>
    <Footer />
  </body>
</html>
