---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
      What I’m doing now
      </span>
    </h1>
  </div>
  <div>
   

<p class="mb-5">Here’s a list of what I am currently working on:</p>
<ul>
<li>Being a dad and husband, I try to keep my "work" hours to a manageable 35-40 hours a week.</li>
<li>Blogging here mostly in Thai, but hey, every now and then, I mix it up with some English!</li>
<li>I am currently employed as a retail pharmacist while also practicing law part-time.</li>
<li>Reading, Running, and Coding.</li>
</ul>
<p>These are my priorities and I’m not looking to be involved in any new projects at this time. (Great idea, borrowed from <a href="https://sivers.org/now">Derek Sivers</a>)</p>
    </p>
    <p>
    
    		<strong>Updated</strong> April 15th, 2024. from my home in Pattaya, Thailand.
    </p>
  </div>
</section>
